/* =====================================================
   PROTEÇÃO GLOBAL DE IMAGENS
===================================================== */
@import "./styles/tokens/index.css";

img{
  max-width: 100%;
  height: auto;
  display: block;
}
